{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section class="section blog-section global-section  parallax  p120">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3 data-i18n="blogNews">Blog & News</h3>
                            <ul class="breadcrumb">
                                <li class="active" ><a href="{% url 'home' %}" data-i18n="home">home</a></li>
                                <li data-i18n="blogNews">Blog & News</li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section sharing-styling nopadtop ">
            <div class="container blogNews-styling">
                <div class="boxed boxedp4">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row blog-grid content-1 contents">
                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews1">Language</small>
                                                <a href="blog-single.html" title=""  data-i18n="blogNews2">Learn English Online with our professional teachers</a>
                                            </h4>
                                            <p  data-i18n="blogNews3">Integer pellentesque justo vitae nisl sagittis, nec tristique erat tincidunt. Nunc varius euismod arcu ut volutpat. Praesent massa ex, sodales nullam. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews4">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews5">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews6">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews7">Tips & Tricks</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews8">Working with team members for new projects</a>
                                            </h4>
                                            <p data-i18n="blogNewsPara">Duis id aliquam metus, et consectetur risus. Praesent dictum augue id velit mattis aliquet. Aliquam faucibus sollicitudin libero, sit amet massa nunc. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <ul class="list-inline">
                                                        <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews9">Amanda</span></a></li>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews10">14 Jun</span></a></li>
                                                        <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews11">455 Views</span></a></li>
                                                    </ul>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img   src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews12">Tips & Tricks</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews13">Buy a Macbook and learn code today like a pro</a>
                                            </h4>
                                            <p data-i18n="blogNews14">Nulla nisl velit, lobortis vel luctus eu, rutrum ac elit. Donec nec condimentum libero. Maecenas rutrum sit amet mi vel hendrerit. Praesent tempor id. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews15">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews16">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews17">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews18">Discounts</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews19">When you join our community, you will get discount</a>
                                            </h4>
                                            <p data-i18n="blogNews20">Praesent dictum ullamcorper erat, a commodo elit aliquam vitae. Integer id quam ut dolor ultricies faucibus. Aenean auctor metus id mauris massa nunc. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews21">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews22">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews23">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews24">Tips & Tricks</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews25">Best Trending Topics for ECommerce Solutions</a>
                                            </h4>
                                            <p  data-i18n="blogNews26">Quisque ultrices quam vitae dolor eleifend iaculis. Vivamus ut pretium arcu. Phasellus ut tellus eu est pharetra consectetur. Suspendisse in volutpat. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews27">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews28">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews29">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews30">Coding</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews31">Another awesome solution for writing code</a>
                                            </h4>
                                            <p data-i18n="blogNews32">Nunc in elementum ex. Quisque lorem augue,  atquis, eleifend eget diam. Nunc fermentum, velit at malesuada laoreet, velit ante sed. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews33">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews34">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews35">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews36">Meet-up</small>
                                                <a href="blog-single.html" title=""  data-i18n="blogNews37">Meet up - 2018 Amsterdam Would you like to join us?</a>
                                            </h4>
                                            <p  data-i18n="blogNews38">Phasellus ut tristique augue, dictum pharetra felis. Nam ut blandit nulla. Proin sit amet nisi nec nulla ultricies vulputate at vel lorem. Duis metus. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews39">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews40">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews41">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="course-box">
                                        <div class="image-wrap entry">
                                            <img src="{% static 'images/illustration-people-doing-different-types-physical-activity.jpg' %}" alt="" class="img-responsive">

                                        </div><!-- end image-wrap -->
                                        <div class="course-details">
                                            <h4>
                                                <small data-i18n="blogNews42">Tips & Tricks</small>
                                                <a href="blog-single.html" title="" data-i18n="blogNews43">What will you after complete all courses on Edulogy?</a>
                                            </h4>
                                            <p data-i18n="blogNews44">Suspendisse vehicula tincidunt justo eu vehicula. Praesent placera leo, ac pulvinar lectus scelerisque nec. Phasellus consequat nec lacus metus. </p>
                                        </div><!-- end details -->
                                        <div class="course-footer clearfix">
                                            <div class="pull-left">
                                                <ul class="list-inline">
                                                    <li><a href="#"><i class="fa fa-user"></i> <span data-i18n="blogNews45">Amanda</span></a></li>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i><span data-i18n="blogNews46">14 Jun</span></a></li>
                                                    <li><a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogNews47">455 Views</span></a></li>
                                                </ul>
                                            </div><!-- end left -->
                                        </div><!-- end footer -->
                                    </div><!-- end box -->
                                </div><!-- end col -->
                            </div><!-- end row -->


                            <hr class="invis">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination">
                                        <li class="active button-pagination" data-num="1"><a>1</a></li>
                                        <!-- <li class="button-pagination" data-num="2"><a>2</a></li>
                                        <li class="button-pagination" data-num="3"><a>3</a></li>
                                        <li class="button-pagination" data-num="4"><a>4</a></li>
                                        <li class="button-pagination" data-num="5"><a>5</a></li> -->
                                    </ul>
                                </div>
                                <!-- end col -->
                            </div>
                        </div><!-- end col -->

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <img src="{% static 'images/20190422strada.jpg' %}" alt="" class="img-responsive img-rounded">
                                </div>
                            </div>

                            <div class="widget clearfix">
                                <h3 class="widget-title" data-i18n="blogNews48">Popular Posts</h3>
                                <div class="post-widget">
                                    <div class="media">
                                        <img src="{% static 'images/cute-intelligent-girl-with-glasses-holding-stack-books-ai-generated_899027-9067.jpg' %}" width="100" height="200" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html"data-i18n="blogNews49" >Learning English Like a Pro..</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                    <li data-i18n="blogNews50">4 days ago</li>
                                                    <li><span data-i18n="by">by</span> <a href="#" data-i18n="blogNews51">Edulogy Team</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>

                                    <div class="media">
                                        <img src="{% static 'images/cute-intelligent-girl-with-glasses-holding-stack-books-ai-generated_899027-9067.jpg' %}" width="100" height="200" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html" data-i18n="blogNews52">How to create a beautiful website with Bootstrap</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                    <li data-i18n="blogNews53">5 days ago</li>
                                                    <li><span data-i18n="by">by</span> <a href="#" data-i18n="blogNews54">Boby DOE</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>

                                    <div class="media">
                                        <img src="{% static 'images/cute-intelligent-girl-with-glasses-holding-stack-books-ai-generated_899027-9067.jpg' %}" width="100" height="200" alt="" class="img-responsive alignleft img-rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html" data-i18n="blogNews55">Don't forget to update your Google web master tools</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                    <li data-i18n="blogNews56">6 days ago</li>
                                                    <li><span data-i18n="by">by</span> <a href="#" data-i18n="blogNews57">Martin</a></li>
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>
                                </div><!-- end post-widget -->
                            </div><!-- end widget -->

      

                            <div class="widget clearfix">
                                <h3 class="widget-title" data-i18n="blogNews58">Popular Tags</h3>
                                <div class="tags-widget">   
                                    <ul class="list-inline">
                                        <li><a href="#" data-i18n="blogNews59">course</a></li>
                                        <li><a href="#" data-i18n="blogNews60">web design</a></li>
                                        <li><a href="#" data-i18n="blogNews61">development</a></li>
                                        <li><a href="#" data-i18n="blogNews62">language</a></li>
                                        <li><a href="#" data-i18n="blogNews63">teacher</a></li>
                                        <li><a href="#" data-i18n="blogNews64">speaking</a></li>
                                        <li><a href="#" data-i18n="blogNews65">material</a></li>
                                        <li><a href="#" data-i18n="blogNews66">css3</a></li>
                                        <li><a href="#" data-i18n="blogNews67">html</a></li>
                                        <li><a href="#" data-i18n="blogNews68">learning</a></li>
                                    </ul>
                                </div><!-- end list-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>
        
{% endblock %}