{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section class="section blog-section global-section  parallax  p120">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3 data-i18n="blogNews">Blog & News</h3>
                            <ul class="breadcrumb">
                                <li class="active" ><a href="{% url 'home' %}" data-i18n="home">home</a></li>
                                <li data-i18n="blogNews">Blog & News</li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section sharing-styling nopadtop ">
            <div class="container blogNews-styling">
                <div class="boxed boxedp4">
                    <div class="row">
                <div class="col-md-8">
                <div class="row blog-grid content-1 contents">
                  {% for news in all_news %}
                  <div class="col-lg-6">
                    <div class="course-box">
                      <div class="image-wrap entry">
                        <img
                          src="{{news.image}}"
                          alt="Prime Minister reviews study on shift towards clean fuel technologies and its economic feasibility"
                          class="img-responsive"
                        />
                      </div>
                      <!-- end image-wrap -->
                      <div class="course-details">
                        <h4>
                          <small data-i18n="blogNews1">news</small>
                          <a
                            href="{{ news.link }}"
                            title="Prime Minister reviews study on shift towards clean fuel technologies and its economic feasibility"
                            >{{ news.title }}</a
                          >
                        </h4>
                        <p>
                          {{ news.body }}
                        </p>
                      </div>
                      <!-- end details -->
                      <div class="course-footer clearfix">
                        <div class="pull-left">
                          <ul class="list-inline">
                            <li>
                              <a href="#"
                                ><i class="fa fa-user"></i>
                                <span data-i18n="blogNews4">#news</span></a
                              >
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-clock-o"></i
                                ><span >{{ news.added_date }}</span></a
                              >
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-eye"></i>
                                <span data-i18n="blogNews6">455 Views</span></a
                              >
                            </li>
                          </ul>
                        </div>
                        <!-- end left -->
                      </div>
                      <!-- end footer -->
                    </div>
                    <!-- end box -->
                  </div>
                  {% endfor %}
                </div>
                <!-- end row -->

                <hr class="invis" />
                <div class="row">
                  <div class="col-md-12">
                    <ul class="pagination">
                      <li class="active button-pagination" data-num="1">
                        <a>1</a>
                      </li>
                    </ul>
                  </div>
                        <!-- end col -->
                         </div>
                  </div>
                              <!-- end col -->
                            
                        <div class="sidebar col-md-4">
                           <div class="widget clearfix">
                  <div class="banner-widget">
                    <img
                      src="{% static 'images/20190422strada.jpg' %}"
                      alt="مؤسسه الجهني"
                      class="img-responsive img-rounded"
                    />
                  </div>
                </div>

                            <div class="widget clearfix">
                                <h3 class="widget-title" data-i18n="blogNews48">Popular Posts</h3>
                          <div class="post-widget">
                    <div class="media">
                      <img
                        src="https://images.skynewsarabia.com/images/v1/2023/11/09/1668747/400/300/1-1668747.jpg"
                        width="100"
                        height="200"
                        alt="Al Juhany Foundation"
                        class="img-responsive alignleft img-rounded"
                      />
                      <div class="media-body">
                        <h5 class="mt-0">
                          <a href="#" data-i18n="blogNews49"
                            >An Egyptian student enters the university from primary school directly by a government decision</a
                          >
                        </h5>
                        <div class="blog-meta">
                          <ul class="list-inline">
                            <li data-i18n="blogNews50">4 days ago</li>
                            <li>
                              <span data-i18n="by">by</span>
                              <a href="#" data-i18n="blogNews51"
                                >Al Juhany Foundation</a
                              >
                            </li>
                          </ul>
                        </div>
                        <!-- end blog-meta -->
                      </div>
                    </div>

                    <div class="media">
                      <img
                        src="https://images.skynewsarabia.com/images/v1/2023/11/05/1667708/400/300/1-1667708.jpg"
                        width="100"
                        height="200"
                        alt="مؤسسه الجهني "
                        class="img-responsive alignleft img-rounded"
                      />
                      <div class="media-body">
                        <h5 class="mt-0">
                          <a href="#" data-i18n="blogNews52"
                            >Washington.. Protesters smear White House doors with red paint</a
                          >
                        </h5>
                        <div class="blog-meta">
                          <ul class="list-inline">
                            <li data-i18n="blogNews53">5 days ago</li>
                            <li>
                              <span data-i18n="by">by</span>
                              <a href="#" data-i18n="blogNews54">Al Juhany Foundation</a>
                            </li>
                          </ul>
                        </div>
                        <!-- end blog-meta -->
                      </div>
                    </div>

                    <div class="media">
                      <img
                        src="https://images.skynewsarabia.com/images/v1/2023/11/07/1668232/400/300/1-1668232.jpg"
                        width="100"
                        height="200"
                        alt="مؤسسه الجهني"
                        class="img-responsive alignleft img-rounded"
                      />
                      <div class="media-body">
                        <h5 class="mt-0">
                          <a href="#" data-i18n="blogNews55"
                            > Newspaper: Why did Turkey's foreign minister refuse to hug Blinken? </a
                          >
                        </h5>
                        <div class="blog-meta">
                          <ul class="list-inline">
                            <li data-i18n="blogNews56">6 days ago</li>
                            <li>
                              <span data-i18n="by">by</span>
                              <a href="#" data-i18n="blogNews57">Al Juhany Foundation</a>
                            </li>
                          </ul>
                        </div>
                        <!-- end blog-meta -->
                      </div>
                    </div>
                  </div>
                  <!-- end post-widget -->
                            </div><!-- end widget -->

      

                            <div class="widget clearfix">
                                <h3 class="widget-title" data-i18n="blogNews58">Popular Tags</h3>
                                <div class="tags-widget">   
                                   <ul class="list-inline">
                      <li><a href="#" data-i18n="blogNews59">course</a></li>
                      <li><a href="#" data-i18n="blogNews60">Al Juhany Foundation</a></li>
                      <li>
                        <a href="#" data-i18n="blogNews61">development</a>
                      </li>
                      <li><a href="#" data-i18n="blogNews62">language</a></li>
                      <li><a href="#" data-i18n="blogNews63">teacher</a></li>
                      <li><a href="#" data-i18n="blogNews64">speaking</a></li>
                      <li><a href="#" data-i18n="blogNews65">material</a></li>
                      <li><a href="#" data-i18n="blogNews66">ahmed fouad el juhany</a></li>
                      <li><a href="#" data-i18n="blogNews67">Development Foundation</a></li>
                      <li><a href="#" data-i18n="blogNews68">learning</a></li>
                    </ul>
                                </div><!-- end list-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>
        
{% endblock %}
