{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="section blog-section parallax  db p120 global-section">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3 data-i18n="blogVideos1">Blog & videos</h3>
                            <ul class="breadcrumb">
                                <li class="active" ><a href="{% url 'home' %}" data-i18n="home">home</a></li>
                                <li data-i18n="blog">Blog</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

        <section class="section sharing-styling  blog-video-section nopadtop ">
            <div class="container">
                <div class="boxed  boxedp4">
                    <div class="row blog-grid content-1 contents">
                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos2">Tips & Tricks</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos3">How to make JavaScript Linting With
                                            ESLint</a>
                                    </h4>
                                    <p data-i18n="blogVideos4">
                                        Donec maximus ligula in ante dignissim pretium. Donec
                                        vitae sem fermentum, scelerisque mi quis, cursus ipsum.
                                        Cras vitae est eu justo iaculis posuere.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos5">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos6">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos7">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos8">Tips & Tricks</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos9">How to make JavaScript Linting With
                                            ESLint</a>
                                    </h4>
                                    <p data-i18n="blogVideos10">
                                        Donec maximus ligula in ante dignissim pretium. Donec
                                        vitae sem fermentum, scelerisque mi quis, cursus ipsum.
                                        Cras vitae est eu justo iaculis posuere.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos11">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos12">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos13">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos14">Tips & Tricks</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos15">Working with team members for new
                                            projects</a>
                                    </h4>
                                    <p data-i18n="blogVideos16">
                                        Duis id aliquam metus, et consectetur risus. Praesent
                                        dictum augue id velit mattis aliquet. Aliquam faucibus
                                        sollicitudin libero, sit amet massa nunc.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos17">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos18">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos19">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos20">Tips & Tricks</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos21">Buy a Macbook and learn code today like a
                                            pro</a>
                                    </h4>
                                    <p data-i18n="blogVideos22">
                                        Nulla nisl velit, lobortis vel luctus eu, rutrum ac elit.
                                        Donec nec condimentum libero. Maecenas rutrum sit amet mi
                                        vel hendrerit. Praesent tempor id.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos23">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos24">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos25">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos26">Discounts</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos27">When you join our community, you will get
                                            discount</a>
                                    </h4>
                                    <p data-i18n="blogVideos28">
                                        Praesent dictum ullamcorper erat, a commodo elit aliquam
                                        vitae. Integer id quam ut dolor ultricies faucibus. Aenean
                                        auctor metus id mauris massa nunc.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos29">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos30">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos31">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="course-box">
                                <div class="image-wrap entry  bg-photo">
                                    <a href="https://vimeo.com/45830194"
                                        class="block-20 img-video popup-vimeo ">
                                        <div class="meta text-center">
                                            <span class="fa fa-play day"></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- end image-wrap -->
                                <div class="course-details">
                                    <h4>
                                        <small data-i18n="blogVideos32">Tips & Tricks</small>
                                        <a href="blog-single.html" title="" data-i18n="blogVideos33">Best Trending Topics for ECommerce
                                            Solutions</a>
                                    </h4>
                                    <p data-i18n="blogVideos34">
                                        Quisque ultrices quam vitae dolor eleifend iaculis.
                                        Vivamus ut pretium arcu. Phasellus ut tellus eu est
                                        pharetra consectetur. Suspendisse in volutpat.
                                    </p>
                                </div>
                                <!-- end details -->
                                <div class="course-footer clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-user"></i> <span data-i18n="blogVideos35">Martin</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-clock-o"></i> <span data-i18n="blogVideos36">15 Jun</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-eye"></i> <span data-i18n="blogVideos37">122 Views</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end left -->
                                </div>
                                <!-- end footer -->
                            </div>
                            <!-- end box -->
                        </div>
                        <!-- end col -->


                        <!-- end col -->


                        <!-- end col -->


                    </div>
          
                    <!-- end row -->

                    <hr class="invis" />

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination">
                                <li class="active button-pagination" data-num="1"><a>1</a></li>
                                    <!-- <li class="button-pagination" data-num="2"><a>2</a></li>
                                    <li class="button-pagination" data-num="3"><a>3</a></li>
                                    <li class="button-pagination" data-num="4"><a>4</a></li>
                                    <li class="button-pagination" data-num="5"><a>5</a></li> -->
                            </ul>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end boxed -->
                
            </div>
            <!-- end container -->
        </section>
        {% endblock %}