{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="section blog-section parallax  db p120 global-section">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3 data-i18n="blogVideos1">Blog & videos</h3>
                            <ul class="breadcrumb">
                                <li class="active" ><a href="{% url 'home' %}" data-i18n="home">home</a></li>
                                <li data-i18n="blog">Blog</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

        <section class="section sharing-styling blog-video-section nopadtop">
        <div class="container">
          <div class="boxed boxedp4">
            <div class="row blog-grid content-1 contents">
              <div class="col-lg-4">
                <div class="course-box">
                  <div class="image-wrap entry">
                    <img src="assets/images/5c2a49b0-b2c8-45ea-8689-7739fb2fa832.webp" class="block-20" />
                    <a
                      href="https://www.youtube.com/watch?v=vjyay38sQS4"
                      class="img-video popup-vimeo"
                    >
                      <div class="meta text-center">
                        <span class="fa fa-play day"></span>
                      </div>
                    </a>
                  </div>
                  <!-- end image-wrap -->
                  <div class="course-details">
                    <h4>
           
                      <a
                      href="https://www.youtube.com/watch?v=vjyay38sQS4"
                        title="Ahmed Fouad Al-Juhani, founder of Al-Juhani foundation for international arbitration and social and sustainable development"
                        data-i18n="blogVideos3"
                        >Ahmed Fouad Al-Juhani, founder of Al-Juhani foundation for international arbitration and social and sustainable development</a
                      >
                    </h4>
           
                  </div>
                  <!-- end details -->
                  <div class="course-footer clearfix">
                    <div class="pull-left">
                      <ul class="list-inline">
                        <li>
                          <a href="#"
                            ><i class="fa fa-user"></i>
                            <span data-i18n="blogVideos5">el juhany</span>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i>
                            <span data-i18n="blogVideos6">15 Jun</span></a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-eye"></i>
                            <span data-i18n="blogVideos7">400 Views</span></a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- end left -->
                  </div>
                  <!-- end footer -->
                </div>
                <!-- end box -->
              </div>
              <!-- end col -->
            </div>

            <!-- end row -->

            <hr class="invis" />

            <div class="row">
              <div class="col-md-12">
                <ul class="pagination">
                  <li class="active button-pagination" data-num="1">
                    <a>1</a>
                  </li>
                  <!-- <li class="button-pagination" data-num="2"><a>2</a></li>
                                    <li class="button-pagination" data-num="3"><a>3</a></li>
                                    <li class="button-pagination" data-num="4"><a>4</a></li>
                                    <li class="button-pagination" data-num="5"><a>5</a></li> -->
                </ul>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end boxed -->
        </div>
        <!-- end container -->
      </section>

        {% endblock %}
