{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="parallax event-section global-section" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container relative">
        <div class="row">
          <div class="col-md-12">
            <div class="tagline-message event-title text-center">
              <h3 data-i18n="eventheading1">Edulogy Meetup Event 2018</h3>
              <p data-i18n="eventpara1">21 - 26 Aug, 2018, San Francisco, CA - Limited number of guests</p>
              <a href="#" class="btn btn-primary" data-i18n="eventpara2">GET TICKETS</a>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </section><!-- end section -->

    <section class="section sharing-styling nopadtop">
      <div class="container">
        <div class="row event-boxes">
          <div class="col-md-4">
            <div class="box m30">
              <img src="upload/blog_01.jpg" alt="" class="img-responsive">
              <div class="event-desc">
                <small data-i18n="eventpara3">Day 1</small>
                <h4 data-i18n="eventpara4">Gathering & welcome speech</h4>
                <p data-i18n="eventpara5">Ut volutpat elementum venenatis. In id neque nec tellus iaculis semper. Aenean fringilla velit ut leo
                  luctus, blandit aliquet turpis dictum.</p>
              </div>
            </div>
          </div><!-- end col -->

          <div class="col-md-4">
            <div class="box m30">
              <img src="upload/blog_02.jpg" alt="" class="img-responsive">
              <div class="event-desc">
                <small data-i18n="eventpara6">Day 2</small>
                <h4 data-i18n="eventpara7">Successful Marketing Strategy</h4>
                <p data-i18n="eventpara8">Morbi nec ornare ipsum. Curabitur tortor sapien, faucibus commodo metus porta, venenatis lobortis
                  nibh. Proin molestie est et nunc aliquam iaculis.</p>
              </div>
            </div>
          </div><!-- end col -->

          <div class="col-md-4">
            <div class="box m30">
              <img src="upload/blog_03.jpg" alt="" class="img-responsive">
              <div class="event-desc">
                <small data-i18n="eventpara9">Day 3</small>
                <h4 data-i18n="eventpara10">Award and certificate </h4>
                <p data-i18n="eventpara11"> Mauris cursus, ipsum eget mollis pretium, nisl felis rhoncus nulla, sed dignissim ligula lorem ac
                  enim. Pellentesque quis libero feugiat, lacinia.</p>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </section>


    <section class="event-cards">
      <div class="tp-event__shape">
        <div class="event-1">
          <img src="{% static 'images/event-line-1.png' %}" alt="" />
        </div>
        <div class="event-2">
          <img src="{% static 'images/event-circle.png' %}" alt="" />
        </div>
      </div>

      <div class="section">
        <div class="section-title text-center">
          <h3 data-i18n="eventheading2">Events</h3>
          <p data-i18n="eventpara12">Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien
            iaculis.
            Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

      </div>

      <div class="container">
        <div class="row">
          <div class="content-1 contents">
            <div class="card-media ">
              <!-- media container -->
              <div class="card-media-object-container">
                <div class="card-media-object event-img-1"></div>
                <span class="card-media-object-tag subtle" data-i18n="eventpara13">Selling Fast</span>
                <ul class="card-media-object-social-list">
                  <li>
                    <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                  </li>
                  <li>
                    <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                  </li>
                  <li class="card-media-object-social-list-item-additional">
                    <span>+2</span>
                  </li>
                </ul>
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle" data-i18n="eventpara14">Mon, APR 09, 7:00 PM</span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                      <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                  </div>
                </div>
                <span class="card-media-body-heading" data-i18n="eventpara15">This Thing Called Life: A Celebration of Prince and His Legacy at
                  MEZZANINE SF</span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara16">Mezzanine, San Francisco, CA</span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right" data-i18n="eventpara17">Free &ndash; $30</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara18">#Music #Party</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right" data-i18n="eventpara19">VIEW
                    TICKETS</a>
                </div>
              </div>
            </div>

            <div class="card-media">
              <!-- media container -->
              <div class="card-media-object-container">
                <div class="card-media-object event-img-2" >
                </div>
                <ul class="card-media-object-social-list">
                  <li>
                    <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                  </li>
                </ul>
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle" data-i18n="eventpara20">Mon, APR 09, 7:00 PM</span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                      <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                  </div>
                </div>
                <span class="card-media-body-heading" data-i18n="eventpara21">DAY // NIGHT - Tycho (Live) w/ Gold Panda, Com Truise + More at
                  1015
                  Folsom</span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara22">1015 Folsom, San Francisco, CA</span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right" data-i18n="eventpara23">$25 &ndash; $80</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara24">#Music #Performance</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right" data-i18n="eventpara25">VIEW
                    TICKETS</a>
                </div>
              </div>
            </div>
            <div class="card-media">
              <!-- media container -->
              <div class="card-media-object-container">
                <div class="card-media-object event-img-3">
                </div>
                <ul class="card-media-object-social-list">
                  <li>
                    <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                  </li>
                </ul>
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle" data-i18n="eventpara26">Mon, APR 09, 7:00 PM</span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                      <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                  </div>
                </div>
                <span class="card-media-body-heading" data-i18n="eventpara27">DAY // NIGHT - Tycho (Live) w/ Gold Panda, Com Truise + More at
                  1015
                  Folsom</span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara28">1015 Folsom, San Francisco, CA</span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right" data-i18n="eventpara29">$25 &ndash; $80</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara30">#Music #Performance</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right" data-i18n="eventpara31">VIEW
                    TICKETS</a>
                </div>
              </div>
            </div>
            <div class="card-media">
              <!-- media container -->
              <div class="card-media-object-container">
                <div class="card-media-object event-img-4">
                </div>
                <ul class="card-media-object-social-list">
                  <li>
                    <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                  </li>
                </ul>
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle" data-i18n="eventpara32">Mon, APR 09, 7:00 PM</span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                      <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                  </div>
                </div>
                <span class="card-media-body-heading" data-i18n="eventpara33">DAY // NIGHT - Tycho (Live) w/ Gold Panda, Com Truise + More at
                  1015
                  Folsom</span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara34">1015 Folsom, San Francisco, CA</span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right" data-i18n="eventpara35">$25 &ndash; $80</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara36">#Music #Performance</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right" data-i18n="eventpara37">VIEW
                    TICKETS</a>
                </div>
              </div>
            </div>
            <div class="card-media">
              <!-- media container -->
              <div class="card-media-object-container">
                <div class="card-media-object event-img-5">
                </div>
                <ul class="card-media-object-social-list">
                  <li>
                    <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                  </li>
                </ul>
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle" data-i18n="eventpara38">Mon, APR 09, 7:00 PM</span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                      <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                  </div>
                </div>
                <span class="card-media-body-heading" data-i18n="eventpara39">DAY // NIGHT - Tycho (Live) w/ Gold Panda, Com Truise + More at
                  1015
                  Folsom</span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara40">1015 Folsom, San Francisco, CA</span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right" data-i18n="eventpara41">$25 &ndash; $80</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle" data-i18n="eventpara42">#Music #Performance</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right" data-i18n="eventpara43">VIEW
                    TICKETS</a>
                </div>
              </div>
            </div>
          </div>
     
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="pagination">
              <li class="active button-pagination" data-num="1"><a>1</a></li>
              <!-- <li class="button-pagination" data-num="2"><a>2</a></li>
              <li class="button-pagination" data-num="3"><a>3</a></li>
              <li class="button-pagination" data-num="4"><a>4</a></li>
              <li class="button-pagination" data-num="5"><a>5</a></li> -->
            </ul>
          </div><!-- end col -->
        </div><!-- end row -->



      </div>
    </section>

        <!----------------latest events------------------------>
        <section class="latest-events" id="latest-events">
          <div class="tp-event__shape">
            <div class="event-1">
              <img src="{% static 'images/event-line-1.png' %}" alt="" />
            </div>
            <div class="event-2">
              <img src="{% static 'images/event-circle.png' %}" alt="" />
            </div>
          </div>

          <h2 class="main-title uppercase" data-i18n="eventpara168">
              latest events
          </h2>
          <div class="container">
              <img src="{% static 'images/20190422strada.jpg' %}">
              <div class="events-content">
                  <div class="event-time">
                      <div class="event-unit">
                          <span class="days" >08</span>
                          <span data-i18n="eventpara169">Days</span>
                      </div>
                      <div class="event-unit">
                          <span class="hours">06</span>
                          <span data-i18n="eventpara170">Hours</span>
                      </div>
                      <div class="event-unit">
                          <span class="minutes" >04</span>
                          <span data-i18n="eventpara171">Minutes</span>
                      </div>
                      <div class="event-unit">
                          <span class="seconds">08</span>
                          <span  data-i18n="eventpara172">Seconds</span>
                      </div>
                  </div>
                  <h2 class="event-title" data-i18n="eventpara173">Tech Masters Event 2021
                  </h2>
                  <p class="event-description" data-i18n="eventpara174">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur
                      doloremque iusto ut adipisci
                      quam ratione aliquam excepturi nulla in harum, veritatis porro

                  </p>
              </div>
          </div>
      </section>
{% endblock %}