{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="section parallax   contact-us-section global-section p120">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tagline-message page-title text-center">
                <h3 data-i18n="getInTouch">Get In Touch</h3>
                <ul class="breadcrumb">
                  <li class="active">
                    <a href="{% url 'home' %}" data-i18n="home">home</a>
                  </li>
                  <li data-i18n="contact">Get in touch</li>
                </ul>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </section>
      <!-- end section -->
      <div class="section">
        <div class="section-title text-center">
          <h3 data-i18n="contactUs">contact us</h3>
          <p data-i18n="contactpara">
You can also contact us via the contact form on our website. We believe in the confidentiality and reliability of all information we receive from you. Be sure to provide all the required information in the contact form to ensure a response from us.
          </p>
        </div>
        <!-- end title -->
      </div>

      <div id="map" class="wow slideInUp"></div>
          <section class="contact-us-container">
        <div class="contact-box">
          <div class="contact-links">
            <h2 data-i18n="contactpara2">CONTACT</h2>
            <div class="links">
              <div class="link">
                <a
                   href="mailto:Afg.economics7@gmail.com"><img
                    src="https://i.postimg.cc/NjLfyjPB/email.png"
                    alt="email"
                /></a>
              </div>
            </div>
          </div>
          <div class="contact-form-wrapper">
            <form>
              <div class="form-item">
                <input type="text" name="sender" required />
                <label data-i18n="Name">Name</label>
              </div>
              <div class="form-item">
                <input type="text" name="email" required />
                <label data-i18n="Email">Email</label>
              </div>
              <div class="form-item">
                <textarea class="" name="message" required></textarea>
                <label data-i18n="Message">Message</label>
              </div>
              <button class="submit-btn" data-i18n="Send">Send</button>
            </form>
          </div>
        </div>
      </section>

{% endblock %}
