{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="parallax our-specialization-bg global-section" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h3>Specialization</h3>
                            <ul class="breadcrumb">
                                <li><a href="javascript:void(0)">Edulogy</a></li>
                                <li class="active">specialists</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

     <!-- ======= Features Section ======= -->
    <section id="departments" class="specipage">
      <div class="specipage">
        <div class="container specialization-container wow fadeInUp">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="demo">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="main-timeline6">
                        <div class="timeline">
                          <div class="timeline-content">
                  
                            <div class="content-inner">
                              <img class="icon " src="assets/images/balance.webp" width="80" height="80">
                              <h3 class="title" data-i18n="universityHeading15">Law</h3>
                              <p class="description" data-i18n="sectionDeatils1">
                                The college aims to prepare specialists in management, accounting and foreign trade in
                                line with the needs of the labor market


                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline">
                          <div class="timeline-content">
                    
                            <div class="content-inner">
                              <img class="icon " src="assets/images/administrator.webp" width="80" height="80">
                              <h3 class="title" data-i18n="universityHeading16">Business Administration
                              </h3>
                              <p class="description" data-i18n="sectionDeatils1">
                                The college aims to prepare specialists in management, accounting and foreign trade in
                                line with the needs of the labor market

                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline">
                          <div class="timeline-content">
                         
                            <div class="content-inner">
                              <img class="icon third-icon " src="assets/images/artificial-intelligence.webp" width="80" height="80">
                              <h3 class="title" data-i18n="universityHeading17">Artificial Intelligence</h3>
                              <p class="description" data-i18n="sectionDeatils2">
                                The Faculty of Artificial Intelligence at JUV University seeks to prepare specialized
                                and distinguished cadres in the field of computers and artificial intelligence,
                                qualified and equipped with educational, research and applied foundations in the field
                                of specialization in line with quality standards in the fields of computers and
                                artificial intelligence.


                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline">
                          <div class="timeline-content">
                        
                            <div class="content-inner">
                              <img class="icon " src="assets/images/social-media.webp" width="80" height="80">
                              <h3 class="title" data-i18n="universityHeading18">Media & Communication
                              </h3>
                              <p class="description" data-i18n="sectionDeatils3">
                                The college aims to qualify students in various fields of media, such as journalism,
                                radio, television, public relations and advertising. In addition to professional
                                diplomas and training courses. The college seeks to contribute to the development of
                                society through scientific research, community service and cooperation with local and
                                international media institutions.

                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline">
                          <div class="timeline-content">
                       
                            <div class="content-inner">
                              <img class="icon " src="assets/images/cargo.webp" width="80" height="80">
                              <h3 class="title" data-i18n="universityHeading19">Logistics
                              </h3>
                              <p class="description" data-i18n="sectionDeatils4">
                                It aims to qualify male and female students in the fields of transportation, storage,
                                distribution, supply and supply. The college seeks to develop students' skills in
                                analysis, planning, implementation and evaluation to manage supply chains efficiently
                                and effectively. The college is also keen to enhance cooperation with the private and
                                government sectors to meet the needs of the local and regional labor market.

                              </p>
                            </div>
                          </div>
                        </div>
                   
                        <div class="timeline">
                          <div class="timeline-content">
                   
                            <div class="content-inner">
                              <img class="icon last-icon " src="assets/images/increase.webp" width="80" height="80">
                              <h3 class="title"  data-i18n="universityHeading20" >Trade & Investment
                              </h3>
                              <p class="description" data-i18n="sectionDeatils5">
                                The college aims to qualify male and female students in the fields of management,
                                accounting, marketing, human resources, finance and economics, and the college seeks to
                                achieve excellence in education, scientific research and community service, and to
                                enhance cooperation with the government and private sectors.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>


          </div>
        </div>

    </section><!-- End Features Section -->
{% endblock %}
