{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="parallax team-members-bg global-section" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container relative">
        <div class="row">
          <div class="col-md-12">
            <div class="tagline-message event-title text-center">
              <h3 data-i18n="ourTeamHeading">Our Team</h3>
              <ul class="breadcrumb">
                <li class="active"><a href="index.html" data-i18n="home">home</a>
                </li>
                <li data-i18n="Team">team </li>
              </ul>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </section><!-- end section -->



    <!-----------------team members section-------------------->
    <section class="team-members" id="team-members">
      <div class="tp-event__shape">
        <div class="event-1">
          <img src="assets/images/event-line-1.webp" alt="" />
        </div>
        <div class="event-2">
          <img src="assets/images/event-circle.webp" alt="" />
        </div>
      </div>

      <h2 class="main-title" data-i18n="ourTeamHeading9">
        team members

      </h2>
      <p class="main-p" data-i18n="ourTeampara10">Team leadership training to power high-performance teams</p>

      <div class="container">
        <div class="box">
          <div class="data">
            <img src="{% static 'images/5c2a49b0-b2c8-45ea-8689-7739fb2fa832.webp' %}"
              alt="" width="293" height="293" />
           <div class="social">
              <a href="https://www.facebook.com/ahmdeljohny/">
                <i class="fa fa-facebook-f"></i>
              </a>

              <a href="https://www.youtube.com/@ahmedfoad500">
                <i class="fa fa-youtube"></i>
              </a>
            </div>
              
          </div>
        <div class="info">
            <h3 data-i18n="ourTeamHeading1">Ahmed El Juhany</h3>
            <p data-i18n="ourTeampara1">Egyptian Lawyer Ahmed Fouad Al-Juhani, Lawyer of the Court of Cassation and the Supreme Constitutional and Supreme Administrative Court, Professor of Police and International Relations

            </p>
          </div>
        </div>

          <div class="box">
          <div class="data">
            <img  src="https://img.youm7.com/ArticleImgs/2022/3/9/127115-%D8%A7%D9%84%D8%A7%D8%B0%D8%A7%D8%B9%D9%8A%D8%A9-%D8%A7%D9%85%D9%8A%D8%B1%D8%A9-%D8%B3%D9%84%D9%8A%D9%85%D8%A7%D9%86.jpg"
              alt=""  width="293" height="293"/>
            <div class="social">
              <a href="https://www.facebook.com/amira.soliman.58323/">
                <i class="fa fa-facebook-f"></i>
              </a>
              <a href="https://www.youtube.com/@user-zz6lp2jb1m">
                <i class="fa fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info">
            <h3 data-i18n="ourTeamHeading2">Amira Soliman</h3>
            <p data-i18n="ourTeampara2">Amira Soliman, head of broadcasters at Greater Cairo Radio: The most happy position during my work in the radio is when I communicate with the listeners and they love me and I was presenting youth programs
            </p>
          </div>
        </div>

      </div>
    </section>
{% endblock %}
