{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="wrapper">
      <section class="parallax academy-section global-section">
        <div class="overlay"></div>
        <div class="container relative wow fadeInDown">
          <h1>
            <span data-i18n="universityHeading">Learning Today,</span
            ><br /><span data-i18n="universityHeading1">Leading Tomorrow</span>
          </h1>
          <h2 data-i18n="universityHeading2">
                 JUV International University project is an international university in coordination with major European and American universities
          </h2>
          <a
            href="page-contact.html"
            data-i18n="contactUs"
            class="btn-get-started"
            >Contact Us</a
          >
        </div>
        <!-- end container -->
      </section>
      <!-- end section -->

      <!-----------------team members section-------------------->
      <section id="about" class="about">
        <div class="tp-event__shape">
          <div class="event-1">
            <img src="{% static 'images/event-line-1.webp' %}" alt="" />
          </div>
          <div class="event-2">
            <img src="{% static 'images/event-circle.webp' %}" alt="" />
          </div>
        </div>

        <div class="container train-content-Section wow fadeInUp">
          <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3 data-i18n="trainingContent">What Is Training Content?</h3>
         <p class="fst-italic" data-i18n="trainingContentpara1">
                JFG University Project is an educational, research and service institution that adopts innovation and qualifies a graduate with knowledge and skills capable of competing in the labor market and community service according to global developments.
<span class="vision-Word">Vision</span>
To become a JFG University project with a global competitive advantage in managing an innovative system in education, research, knowledge and community service.
              </p>
            </div>
            <div class="col-lg-6">
              <img
                src="{% static 'images/sust_goals.webp' %}"
                class="img-responsive"
                   alt="مؤسسه JUV"
              />
            </div>
          </div>
        </div>
      </section>

      <!--------------counts section--------------------->
      <section id="counts" class="counts section-bg">
        <div class="container">
          <div class="row counters counter">
            <div class="col-lg-3 col-sm-6 text-center">
              <img
                src="{% static 'images/staff-icon-png-15-removebg-preview.webp' %}"
                alt="error404"
                class="CountersImage1"
              />
              <span class="counting" data-count="900">0</span>
              <p data-i18n="universityHeading3">Staff Members</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
              <img
                class="CountersImage2"
                src="{% static 'images/student-icon-website-design-desktop-envelopment-development-premium-pack-student-vector-flat-color-icon-167309055-removebg-preview.webp' %}"
              />
              <span class="counting" data-count="800">0</span>
              <p data-i18n="universityHeading4">University Students</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
              <img
                src="{% static 'images/2037690-removebg-preview.webp' %}"
                alt="error404"
                class="CountersImage3"
              />
              <span class="counting" data-count="400">0</span>
              <p data-i18n="universityHeading5">University Events</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
              <img
                src="{% static 'images/1995574 (1).webp' %}"
                alt="error404"
                class="CountersImage4"
              />
              <span class="counting" data-count="1500">0</span>
              <p data-i18n="universityHeading6">Trainers</p>
            </div>
          </div>
        </div>
      </section>

      <!---------------specialization----------------------->
      <section id="specialization-content" class="specialization-content">
        <div class="container wow fadeInUp">
          <div class="section-title">
            <h2 data-i18n="universityHeading7">Our Specialization</h2>
            <p data-i18n="universityHeading8">
              Know more about our Specializations
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <a href="{% url 'specialization' %}">
                  <div class="box wow zoomIn">
                  <span>01</span>
                  <h4 data-i18n="universityHeading15">Law</h4>
                  <p data-i18n="universityHeading9">
                    Faculty of JUV Law Section
                  </p>
                </div>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="{% url 'specialization' %}">
             <div class="box wow zoomIn">
                  <span>02</span>
                  <h4  data-i18n="universityHeading16">Business Administration</h4>
                  <p data-i18n="universityHeading10">
                    Faculty of JUV Business Administration Section
                  </p>
                </div>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="{% url 'specialization' %}">
               <div class="box wow zoomIn">
                  <span>03</span>
                  <h4  data-i18n="universityHeading17">Artificial Intelligence</h4>
                  <p data-i18n="universityHeading11">
                    Faculty of JUV Artificial Intelligence Section
                  </p>
                </div>
              </a>
            </div>
          </div>

<div class="row">
            <div class="col-lg-4">
             <a href="{% url 'specialization' %}">
                <div class="box wow zoomIn">
                  <span>04</span>
                  <h4  data-i18n="universityHeading18">Media & Communication</h4>
                  <p data-i18n="universityHeading12">
                    Faculty of JUV Media & Communication Section
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
                        <a href="{% url 'specialization' %}">
                <div class="box wow zoomIn">
                  <span>05</span>
                  <h4  data-i18n="universityHeading19">Logistics</h4>
                  <p data-i18n="universityHeading13">
                    Faculty of JUV Logistics Section
                  </p>
                </div>
              </a>
            </div>
            
            <div class="col-lg-4">
                            <a href="{% url 'specialization' %}">
                <div class="box wow zoomIn">
                  <span>06</span>
                  <h4  data-i18n="universityHeading20">Trade & Investment</h4>
                  <p data-i18n="universityHeading14">
                    Faculty of JUV Trade & Investment Section
                  </p>
                </div>
              </a>
            </div>
            
          </div>
            
        </div>
      </section>
{% endblock %}
