{% load static %}
<footer class="section footer noover">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="widget clearfix">
            <h3 class="widget-title" data-i18n="footerPara1">Have a Questions?</h3>
            <div class="block-23 mb-3">
                <ul>
                <li>
                  <span class="icon fa fa-map marker"></span><span class="text" data-i18n="footerPara2">El Montazah, Qesm Heliopolis, Cairo Governorate 4460212
                  </span>
                </li>
                <li>
                  <a href="https://wa.me/+201001647862"><span class="icon fa fa-phone"></span><span class="text" data-i18n="footerPara3">201001647862+</span></a>
                </li>
                <li>
                  <a href="mailto:Afg.economics7@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text"
                    data-i18n="footerPara4">Afg.economics7@gmail.com</span></a>
                </li>
                </ul>
              </div>    
          </div>
          <!-- end widget -->
        </div>
        <!-- end col -->

        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="widget clearfix">
            <h3 class="widget-title" data-i18n="blogNews58">Popular Tags</h3>
            <div class="tags-widget">
              <ul class="list-inline">
                <li><a href="#" data-i18n="blogNews59">course</a></li>
                <li><a href="#" data-i18n="blogNews60">web design</a></li>
                <li><a href="#" data-i18n="blogNews61">development</a></li>
                <li><a href="#" data-i18n="blogNews62">language</a></li>
                <li><a href="#" data-i18n="blogNews63">teacher</a></li>
                <li><a href="#" data-i18n="blogNews64">speaking</a></li>
                <li><a href="#" data-i18n="blogNews65">material</a></li>
                <li><a href="#" data-i18n="blogNews66">css3</a></li>
                <li><a href="#" data-i18n="blogNews67">html</a></li>
                <li><a href="#" data-i18n="blogNews68">learning</a></li>
              </ul>
            </div>
            <!-- end list-widget -->
          </div>
          <!-- end widget -->
        </div>
        <!-- end col -->

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="widget clearfix">
            <h3 class="widget-title" data-i18n="footerPara5">Explore</h3>
            <div class="list-widget">
              <ul>
                <li><a href="university.html" data-i18n="university">University</a></li>
                <li><a href="events.html" data-i18n="events">Events</a></li>
                <li><a href="about-us.html" data-i18n="aboutUs">About Us</a></li>

              </ul>
            </div>
            <!-- end list-widget -->
          </div>
          <!-- end widget -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="widget clearfix">
              <h3 class="widget-title" data-i18n="EducationFooter">Education</h3>
              <div class="list-widget">
                <ul>
                  <li><a href="page-contact.html" data-i18n="contactUs">Contact Us</a></li>
                  <li><a href="specialization.html" data-i18n="universityHeading7">Specialization</a></li>
                  <li><a href="team.html" data-i18n="team">Team</a></li>
                  <li><a href="blog-2.html" data-i18n="blogNews">Blog & News</a></li>
                  <li><a href="blog-3.html" data-i18n="blogVideos1">Blog & Videos</a></li>

                </ul>
              </div>
             
            </div>
   
          </div>
          

      </div>
    </div>

  </footer>

<div class="copyrights">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="cop-logo">
                  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/Asset 7 - Copy.webp' %}" width="180px" height="60px" alt="Al-Juhani-logo" /></a>

                </div>
            </div>

            <div class="pull-right">
                <div class="footer-links">
                    <ul class="list-inline">
                        <p>
                            <span data-i18n="footerCopyright">Copyright &copy;
                            2023
                            All rights reserved </span>
                            <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                            <a href="https://wa.me/+201025376604">YoussefAshraf</a> | <a href="https://wa.me/+201009305238">Hazem</a>
                    
                    
                          </p>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copy -->